
<div class="block max-w-full bg-white border border-gray-200 shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mb-8">
    <div class="flex jsutify-center items-center mb-2 text-sm tracking-tight text-black dark:text-white px-6 py-4 border-b-2">
        <%= image_tag(partner[:img], class: "max-h-[44px] w-auto") %>
    </div>
    <div class="p-6">
        <div class="flex justify-between mb-4 text-sm text-left">
            <%= partner[:desc] %>
        </div>
    </div>
</div>
