
<div class="">
    <h5 class="text-2xl text-bold mb-8">Sales Analysis</h5>
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
        <% @salesData.each do |sale| %>
            <%= render "components/sales_card", sale_data: sale %>
        <% end %>
    </div>
    <div class="w-full mt-8">
        <h5 class="text-2xl text-bold mb-8">Shipped products</h5>
        <div id="products" class="min-w-full">
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Product name</th>
                    <th scope="col" class="px-6 py-3">Color</th>
                    <th scope="col" class="px-6 py-3">Category</th>
                    <th scope="col" class="px-6 py-3">Price</th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <% @products&.each do |product| %>
                    <%= render product %>
                <% end %>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="w-full mt-8">
        <h5 class="text-2xl text-bold mb-8">Our Shipping partners</h5>
        <div class="slick_slider">
            <% shipping_partners.each do |partner| %>
                <%= render "components/shipping_partner_card", partner: partner %>
            <% end %>
        </div>
    </div>
</div>
<%= javascript_importmap_tags "slick_slider" %>
