/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
    * {
        font-family: Open Sans,sans-serif;
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #13101080; 
        border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #fff; 
    }

    .slick-slide {
        margin: 0 10px 0 0; /* Adjust the value for desired spacing */
    }

    .slick-list {
        margin: 0 -10px; /* Negative margin to counteract the slide margins */
    }

    .slick-track
    {
        display: flex !important;
    }

    .slick-slide
    {
        height: inherit !important;
    }
    .slick-arrow-right{
        left: -31px !important;
    }
    .slick-arrow-left{
        right: -29px !important;
    }