<div class="w-full">
  <% if notice.present? %>
    <%= render "components/toast_success", message: notice %>
  <% end %>

  <% content_for :title, "Products" %>

  <div class="flex justify-between items-center">
    <h1 class="text-4xl">Products</h1>
    <%= link_to "New product", new_product_path, class: "text-white bg-gradient-to-r from-[#1de9b6] to-[#1dc4e9] text-sm text-bold px-4 py-3 rounded-full pointer" %>
  </div>

  <div id="products" class="min-w-full">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-8">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Product name</th>
            <th scope="col" class="px-6 py-3">Color</th>
            <th scope="col" class="px-6 py-3">Category</th>
            <th scope="col" class="px-6 py-3">Price</th>
            <th scope="col" class="px-6 py-3">
                <span class="sr-only">Edit</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <%= render product %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
