<h1 class="text-4xl">New product</h1>
<div class="w-full bg-white shadow-lg px-[22px] py-[22px] rounded mt-[24px]">

  <%= render "form", product: @product %>

  <%= link_to "Back to products", products_path, class: "text-white bg-gradient-to-r from-[#899fd4] to-[#a389d4] text-sm text-bold px-4 py-3 rounded-full pointer"  %>
</div>
