<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<style>
* {
    font-family: Open Sans,sans-serif;
 }
 </style>
<div style="background-color: #f4f7fa; margin: auto; height: 100vh; display: flex; justify-content:center; align-items:center">
    <div style="width: 100%">
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 32px;">
            <img style="width: 50%; max-width: 200px;" src="/offline.png" alt="Offline Image">
            <h5 style="font-size: 24px; font-weight: bold; text-align: center; width: 100%;">You are offline!</h5>
        </div>
    </div>
 </div>